body, html{
    height: 100%;
}
.paralax{
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 20px;
    /* padding-top: 10vh; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#topPara{
    background-image: url('./images/blackAndWhiteWinona.jpg');
}
#botPara{
    /* background-image: url('./images/lakeWinona.jpg'); */
    background-image: url('./images/blackAndWhiteHouse.jpg');
    padding-top: 10px;
    height: 70%;
}
#nBar{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(230, 41, 41);
    /* Box shadow at the bottom */
}
.navItem{
    position: relative;
    top: 20px;
    margin-left: 10px;
    padding: 3px 6px;
    border-style: solid;
    border-color:rgba(182, 182, 182, 0);
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
}
a.navItem:hover{
    /* border-style: solid;
    background-color: rgb(214, 214, 214);
    border-color: red; */
    box-shadow: 0 0 5px 2px rgb(216, 216, 216);
}
.navLeft{
    position: absolute;
    text-align: left;
    left: 10px;
}
.navRight{
    position: absolute;
    right: 20px;
    text-align: right;
}
.footer{
    height: 50px;
    background-color: rgba(230, 41, 41);
    width: 101.5%;
    margin-left: -10px;
}
#contactDiv{
    /* height:; */
    width: 25%;
    margin-right: 5%;
    padding-top: 80px;
    float: right;
    /* position: fixed; */
    /* visibility: hidden; */
    background-color: rgb(231, 231, 231);
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    border-radius: 5px;
}
.cPhoto{
    width: 80%;
    margin: 5px 10%;
}

#listDiv{
    float: left;
    margin-top: 25%;
    margin-left: 5%;
    /* width:10%; */
}
#listDiv h1{
    color: rgba(251, 251, 251);
    letter-spacing: 1px;
    font-family: 'Public Sans', sans-serif;
    font-size: 35px;
    text-shadow: 
        -1px 0 rgba(230, 41, 41), 
        0 1px  rgba(230, 41, 41), 
        1px 0  rgba(230, 41, 41), 
        0 -1px rgba(230, 41, 41);
}

.button h3{
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
}
.button{
    background-color: rgba(230, 41, 41);
    text-align: center;
    width: 50%;
    padding: 2.5px 0;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 0 10px 4px rgb(216, 216, 216);
}
#aboutDiv{
    height: 600px;
}
#aPhoto{
    height: 45%;
    margin-left: 5%;
    margin-right: 30px;
    margin-bottom: 1px;
    float: left;
}
.para{
    margin: 10px 5%;
    font-size: large;
    line-height: 3rem;
    font-family: 'Merriweather', serif; 
}
#aboutP{

}
#botP{ 

}
#botDiv{
    height: 350px;
}
.block{
    width: 100%;
    margin-top: -20px;
    margin-left: -10px;
    padding-right: 20px;
    background-color: rgb(231, 231, 231);
}
.header{
    color: rgba(250, 41, 41);
    padding-top: 20px;
    margin-left: 5%;
    font-family: 'Public Sans', sans-serif;
}
/* font-family: 'Public Sans', sans-serif;
font-family: 'Merriweather', serif; */
@media only screen and (max-width: 1200px){
    .para{
        line-height: 2rem;
    }
}
@media only screen and (max-width: 1079px){
    #listDiv h1{
        font-size: 25px;
    }
    #contactDiv{
        font-size: 14px;
    }
    #aboutDiv{
        height: 700px;
    }
}
@media only screen and (max-width: 768px){
    #listDiv h1{
        font-size: 20px;
    }
    #aboutDiv{
        height: 780px;
    }
}