body, html{
    height: 100%;
}
.paralax{
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#topPara{
    background-image: url('./images/blackAndWhiteHouse.jpg');
    padding-top: 10px;
    height: 100%;
}
#botPara{
    background-image: url('./images/blackAndWhiteWinona.jpg');
    height: 70%;
}
#nBar{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(230, 41, 41);
}
.navItem{
    position: relative;
    top: 20px;
    margin-left: 10px;
    padding: 3px 6px;
    border-style: solid;
    border-color:rgba(182, 182, 182, 0);
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
}
a.navItem:hover{
    box-shadow: 0 0 5px 2px rgb(216, 216, 216);
}
.navLeft{
    position: absolute;
    text-align: left;
    left: 10px;
}
.navRight{
    position: absolute;
    right: 20px;
    text-align: right;
}
.footer{
    height: 50px;
    background-color: rgba(230, 41, 41);
    width: 101.5%;
    margin-left: -10px;
    margin-top: -15px;
    text-align: center;
}
#contactDiv{
    width: 25%;
    margin-right: 5%;
    padding-top: 80px;
    float: right;
    background-color: rgba(231, 231, 231, 0.75);
    text-align: center;
    font-family: 'nimbus-sans', sans-serif;
    border-radius: 5px;
}
#contactDiv h3 a{
    color: rgba(230, 41, 41);
}
.cPhoto{
    width: 80%;
    margin: 5px 10%;
}
#listDiv{
    float: left;
    margin-top: 20%;
    margin-left: 5%;
}
#bigText{
    font-size: 50px;
}
.listHead{
    color: rgb(255, 255, 255);
    margin-bottom: -25px;
    letter-spacing: 1px;
    font-family: 'nimbus-sans', sans-serif;
    font-size: 35px;
    text-shadow: 
        -1.5px 0 rgba(230, 41, 41), 
        0 1.5px  rgba(230, 41, 41), 
        1.5px 0  rgba(230, 41, 41), 
        0 -1.5px rgba(230, 41, 41);
}
.button h3{
    color: rgb(255, 255, 255);
    font-family: 'nimbus-sans', sans-serif;
}
.button{
    background-color: rgba(230, 41, 41);
    text-align: center;
    width: 50%;
    padding: 2.5px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}
.button:hover{
    box-shadow: 0 0 10px 4px rgb(216, 216, 216);
}
#aboutDiv{
    height: 500px;
}
#aboutDiv p{
    margin-bottom: 20px;
}
#aPhoto{
    height: 50%;
    margin-left: 5%;
    margin-right: 30px;
    margin-bottom: 1px;
    float: left;
}
.para{
    margin: 10px 5%;
    font-size: large;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
}
#botDiv{
    height: 350px;
}
.block{
    width: 100%;
    margin-top: -20px;
    margin-left: -10px;
    padding-right: 20px;
    background-color: rgb(231, 231, 231);
}
.header{
    color: rgba(250, 41, 41);
    padding-top: 20px;
    margin-left: 5%;
    font-family: 'nimbus-sans', sans-serif;
}
.footer p{
    color: whitesmoke;
}
/* font-family: 'Public Sans', sans-serif;
font-family: 'Merriweather', serif; */
@media only screen and (max-width: 1200px){
    .para{
        line-height: 2rem;
    }
}
@media only screen and (max-width: 1079px){
    #listDiv h1{
        font-size: 25px;
    }
    #contactDiv{
        font-size: 14px;
    }
    #aboutDiv{
        height: 700px;
    }
    #topPara{
        height: 85%;
    }
    #botPara{
        height: 50%;
    }
}
@media only screen and (max-width: 768px){
    #listDiv h1{
        font-size: 20px;
    }
    #aboutDiv{
        height: 780px;
    }
    #contactDiv{
        font-size: 10px;
        width: 30%;
    }
    #listDiv{
        font-size: 15px;
        width: 50%;
    }
    #topPara{
        height: 70%;
    }
}
@media only screen and (max-width: 470px){
    #nBar{
        height: 70px;
    }
    .navItem{
        font-size: 20px;
        margin-left: 0px;
    }
    .navRight{
        right: 35px;
    }
    #contactDiv{
        font-size: 10px;
        width: 40%;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    #listDiv{
        font-size: 10px;
        width: 40%;
    }
    #listDiv h1{ 
        letter-spacing: 0px;
    }
    .para{
        font-size: small;
        line-height: 1rem;
        font-family: 'Merriweather', serif; 
    }
    #aPhoto{
        height: 40%;
        margin-left: 3%;
        margin-right: auto;
        margin-bottom: 15px;
    }
    #aboutDiv{
        height: 870px;
    }
    #botDiv{
        height: 300px;
    }
    .footer{
        height: 0px;
    }
    .button{
        width: 70%;
    }
}
@media only screen and (max-width: 370px){
    #topPara, #botPara{
        padding-right: 50px;
    }
    .block{
        padding-right: 50px;
    }
    #aPhoto{
        height: 35%;
    }
}